.AnswerCard {
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1.2rem 5rem ;
    font-size: 3.7rem;
    background-color: #3d7fa0;
    cursor: pointer;
    margin: 0.7rem;
    max-width: 15rem;
    width: 15rem;
    min-height: 3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: #3d7fc2;
    }

    &.rightAnswer {
        background-color: #6dee68;
    }

    &.wrongAnswer {
        background-color: #cd4c49;
    }

    .answerText {
        color: white;
        font-family: "Arial Narrow";
    }
}